{% load static %}

<div id="modal-container">
    <div class="modal edit">
        <div class="title">
            <h3>Editar Evento</h3>
            <button class="close">
                <span>+</span>
            </button>
        </div>
        <form method="post">

            <div class="form-group">
                <label for="edit-event">Nuevo Nombre</label>
                <input type="text" name="event" id="edit-event">
                <label for="edit-event" class="error"></label>
            </div>
            <input type="hidden" name="last">
            <button type="submit">Guardar <img src="{% static 'img/save.svg' %}" alt="Guardar Cambio"></button>
            <span><strong>INFORMACIÓN:</strong> Editar un evento implica editar todos los registros del mismo.</span>
        </form>
    </div>
    <div class="modal add">
        <div class="title">
            <h3>Nuevo Evento</h3>
            <button class="close">
                <span>+</span>
            </button>
        </div>
        <form method="post">

            <div class="form-group">
                <label for="add-event">Nombre del Evento</label>
                <input type="text" name="event" id="add-event">
                <label class="error" for="add-event"></label>
            </div>
            <button type="submit">Crear <img src="{% static 'img/save.svg' %}" alt="Guardar Cambio"></button>
        </form>
    </div>
    <div class="bottom-modal session">
        <div class="title">
            <h3>@{{session}}</h3>
            <button class="close">
                <img src="{% static 'img/close.svg' %}" alt="Cerrar">
            </button>
        </div>
        <div class="links">
            <button class="share"><img src="{% static 'img/share.svg' %}" alt=""> Compartir repositorio <img
                    class="goto" src="{% static 'img/arrow.svg' %}" alt=""></button>
            <button class="save"><img src="{% static 'img/save_line.svg' %}" alt=""> Guardar repositorio <img
                    class="goto" src="{% static 'img/arrow.svg' %}" alt=""></button>
            <button class="new"><img src="{% static 'img/plus.svg' %}" alt=""> Nuevo repositorio <img class="goto"
                    src="{% static 'img/arrow.svg' %}" alt=""></button>
            <button class="get"><img src="{% static 'img/reload.svg' %}" alt=""> Recuperar repositorio <img class="goto"
                    src="{% static 'img/arrow.svg' %}" alt=""></button>
            <button class="delete"><img src="{% static 'img/trash.svg' %}" alt=""> Eliminar repositorio <img
                    class="goto" src="{% static 'img/arrow.svg' %}" alt=""></button>
        </div>
        <div class="politics">
            <h4>¡Protege tus datos!</h4>
            <p>Si cierras el navegador sin guardar la sesión ni compartir el repositorio, podrías <strong>perder tus
                    datos</strong>.
            </p>
            <a href="https://docs.google.com/forms/d/e/1FAIpQLSf6ZuLCjMUqLEkdLyyhA_HkgOD6gDPIng9Bc2ZIFlbzUasd8g/viewform?usp=sf_link"
                target="_blank" rel="noopener noreferrer">Solicitar recuperación</a>
                <a href="https://github.com/danielcgiraldo/datarizer/blob/main/README.md"
                target="_blank" rel="noopener noreferrer">Más información</a>
            <p class="disclaimer">* Cualquier persona con la que compartas el repositorio puede acceder a tus datos.</p>
        </div>
    </div>
    <div class="modal ob_add">
        <div class="title">
            <h3>Nuevo Evento</h3>
            <p>Debes crear un evento para empezar</p>
        </div>
        <form method="post">
            <div class="form-group">
                <label for="ob_add-event">Nombre del Evento</label>
                <input type="text" name="event" id="ob_add-event">
                <label class="error" for="add-event"></label>
            </div>
            <button type="submit">Crear <img src="{% static 'img/save.svg' %}" alt="Guardar Cambio"></button>
        </form>
    </div>
    <div class="modal confirm">
        <div class="title">
            <h3>Eliminar Evento</h3>
            <button class="close">
                <span>+</span>
            </button>
        </div>
        <div class="modal-content">
            <p>¿Estás seguro de que quieres eliminar este evento?</p>
            <div class="buttons">
                <button class="cancel">Cancelar</button>
                <button class="delete">Eliminar</button>
            </div>
            <span><strong>ADVERTENCIA:</strong> Eliminar un evento implica eliminar todos los registros del mismo.</span>
        </div>
    </div>
</div>