{% load static %}

<div id="modal-container">
    <div class="modal edit">
        <div class="title">
            <h3>Editar Evento</h3>
            <button class="close">
                <span>+</span>
            </button>
        </div>
        <form action="">
            <div class="form-group">
                <label for="">Nuevo Nombre</label>
                <input type="text" name="" id="">
            </div>
            <button type="submit">Guardar <img src="{% static 'img/save.svg' %}" alt="Guardar Cambio"></button>
        </form>
    </div>
    <div class="modal remove">
        <div class="title">
            <h3>Editar Evento</h3>
            <button class="close">
                <span>+</span>
            </button>
        </div>
        <form action="">
            <div class="form-group">
                <label for="">Nuevo Nombre</label>
                <input type="text" name="" id="">
            </div>
            <button type="submit">Guardar <img src="{% static 'img/save.svg' %}" alt="Guardar Cambio"></button>
        </form>
    </div>
    <div class="modal add">
        <div class="title">
            <h3>Editar Evento</h3>
            <button class="close">
                <span>+</span>
            </button>
        </div>
        <form action="">
            <div class="form-group">
                <label for="">Nombre del Evento</label>
                <input type="text" name="" id="">
            </div>
            <button type="submit">Guardar <img src="{% static 'img/save.svg' %}" alt="Guardar Cambio"></button>
        </form>
    </div>
</div>