{% load static %}

<div id="modal-container">
    <div class="modal edit">
        <div class="title">
            <h3>Editar Evento</h3>
            <button class="close">
                <span>+</span>
            </button>
        </div>
        <form action="">
            <div class="form-group">
                <label for="">Nuevo Nombre</label>
                <input type="text" name="" id="">
            </div>
            <button type="submit">Guardar <img src="{% static 'img/save.svg' %}" alt="Guardar Cambio"></button>
        </form>
    </div>
    <div class="modal remove">
        <div class="title">
            <h3>Editar Evento</h3>
            <button class="close">
                <span>+</span>
            </button>
        </div>
        <form action="">
            <div class="form-group">
                <label for="">Nuevo Nombre</label>
                <input type="text" name="" id="">
            </div>
            <button type="submit">Guardar <img src="{% static 'img/save.svg' %}" alt="Guardar Cambio"></button>
        </form>
    </div>
    <div class="modal add">
        <div class="title">
            <h3>Editar Evento</h3>
            <button class="close">
                <span>+</span>
            </button>
        </div>
        <form action="">
            <div class="form-group">
                <label for="">Nombre del Evento</label>
                <input type="text" name="" id="">
            </div>
            <button type="submit">Guardar <img src="{% static 'img/save.svg' %}" alt="Guardar Cambio"></button>
        </form>
    </div>
    <div class="bottom-modal session">
        <div class="title">
            <h3>@646951bced43e97650d59ca7</h3>
            <button class="close">
                <img src="{% static 'img/close.svg' %}" alt="Cerrar">
            </button>
        </div>
        <div class="links">
            <button><img src="{% static 'img/share.svg' %}" alt=""> Compartir repositorio <img class="goto"
                    src="{% static 'img/arrow.svg' %}" alt=""></button>
            <button><img src="{% static 'img/save_line.svg' %}" alt=""> Guardar repositorio <img class="goto"
                    src="{% static 'img/arrow.svg' %}" alt=""></button>
            <button><img src="{% static 'img/reload.svg' %}" alt=""> Recuperar repositorio <img class="goto"
                    src="{% static 'img/arrow.svg' %}" alt=""></button>
            <button><img src="{% static 'img/plus.svg' %}" alt=""> Nuevo repositorio <img class="goto"
                    src="{% static 'img/arrow.svg' %}" alt=""></button>
            <button><img src="{% static 'img/trash.svg' %}" alt=""> Eliminar repositorio <img class="goto"
                    src="{% static 'img/arrow.svg' %}" alt=""></button>
        </div>
        <div class="politics">
            <h4>¡Protege tus datos!</h4>
            <p>Si cierras el navegador sin guardar la sesión ni compartir el repositorio, podrías <strong>perder tus
                    datos</strong>.
            </p>
            <a href="">Solicitar recuperación</a>
            <a href="">Más información</a>
            <p class="disclaimer">* Cualquier persona con la que compartas el repositorio puede acceder a tus datos.</p>
        </div>
    </div>
</div>