/*
------------------ General Stylesheet ------------------
version:   1.0 
date:      2023-05-19
author:    Daniel Castillo Giraldo
website:   https://github.com/danielcgiraldo
*/

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap");

/* default css */

* {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

body {
    font-family: "Inter", sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: white;
    background-color: #121212;
}

button img {
    user-select: none;
    pointer-events: none;
}

div.container {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 25px 0;
}

div.container div.content {
    width: 100%;
    max-width: 1200px;
    padding: 0 25px;
}

div.row {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

div#actions {
    position: fixed;
    bottom: 25px;
    right: 25px;
}

div#actions button#handler-btn {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #03dac6;
    cursor: pointer;
}

div#actions button#handler-btn img {
    height: 30%;
    width: auto;
    margin-top: 2px;
}

div#actions button#handler-btn p {
    font-weight: 500;
    font-size: 30px;
    color: #121212;
    text-align: center;
    transform: rotate(45deg);
    display: none;
}

div#actions.active button#handler-btn p {
    display: block;
}

div#actions.active button#handler-btn img {
    display: none;
}

div#actions div.relative {
    position: relative;
}

div#actions div.relative div.actions {
    position: absolute;
    bottom: 60px;
    width: 200px;
    right: 0;
    background-color: white;
    border-radius: 5px;
    display: none;
    overflow: hidden;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
        rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}

div#actions.active div.relative div.actions {
    display: block;
}

div#actions div.relative div.actions button.action {
    width: 100%;
    background-color: transparent;
    padding: 13px 15px;
    border-bottom: 1px solid #e0e0e0;
    display: flex;
    font-size: 14px;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    font-weight: 600;
    color: #121212;
}

div#actions div.relative div.actions button.action:hover {
    background-color: #f7f7f7;
}

div#actions div.relative div.actions button.action img {
    height: 19px;
    width: auto;
}

div#actions div.relative div.actions button.action:last-child {
    border-bottom: none;
}

/* navbar */

nav {
    width: 100%;
    height: 40px;
    z-index: 999;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

nav img.logo {
    height: 100%;
}

nav button {
    height: 80%;
    width: auto;
    background-color: transparent;
}

nav button img {
    height: 100%;
    width: auto;
}

/* header */

header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 15px;
}

header button.cancel {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 15px 0;
    background-color: #b00020;
    color: white;
    font-weight: 600;
    font-size: 16px;
    border-radius: 5px;
}

header div.card,
header button.card {
    width: calc(50% - 7.5px);
    border-radius: 5px;
}

header.edit button.card,
header.remove button.card {
    animation: shake 1s;
    animation-iteration-count: infinite;
}

header button.card img {
    display: none;
}

header button.card img.clock {
    display: block;
}

header.edit button.card img.clock,
header.remove button.card img.clock {
    display: none;
}

header.edit button.card img.edit {
    display: block;
}

header.remove button.card img.remove {
    display: block;
}

@keyframes shake {
    0% {
        transform: translate(1px, 1px) rotate(0deg);
    }
    10% {
        transform: translate(-1px, -1px) rotate(-1deg);
    }
    20% {
        transform: translate(-1px, 0px) rotate(1deg);
    }
    30% {
        transform: translate(1px, 1px) rotate(0deg);
    }
    40% {
        transform: translate(1px, -1px) rotate(1deg);
    }
    50% {
        transform: translate(-1px, 1px) rotate(-1deg);
    }
    60% {
        transform: translate(-1px, 1px) rotate(0deg);
    }
    70% {
        transform: translate(1px, 1px) rotate(-1deg);
    }
    80% {
        transform: translate(-1px, -1px) rotate(1deg);
    }
    90% {
        transform: translate(1px, 1px) rotate(0deg);
    }
    100% {
        transform: translate(1px, -1px) rotate(-1deg);
    }
}

header div.card {
    width: 100%;
    background-color: #1e1e1e;
    padding: 20px;
}

header div.card h1 {
    font-weight: 500;
    font-size: 15.5vw;
    color: #ffffff;
    line-height: 110%;
}

header div.card span {
    font-weight: 500;
    font-size: 7vw;
}

header div.card p {
    font-weight: 500;
    font-size: 5vw;
    color: rgba(255, 255, 255, 0.5);
}

header button.card:last-child:nth-child(even) {
    width: 100%;
}

header.edit button.card:last-child:nth-child(even),
header.remove button.card:last-child:nth-child(even) {
    width: calc(50% - 7.5px);
}

header.edit button.card:last-child:nth-child(odd),
header.remove button.card:last-child:nth-child(odd) {
    width: 100%;
}

header button.card {
    height: 110px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px;
    background-color: var(--bg-color);
    cursor: pointer;
}

header button.card div {
    display: flex;
    width: 100%;
}

header button.card div.top {
    justify-content: flex-end;
}
header button.card div.top img {
    height: 25px;
}

header button.card h2 {
    font-weight: 600;
    color: white;
    font-size: 5vw;
    margin-left: 5px;
}

/* main */

main form {
    margin-top: 20px;
}

div.form-group {
    width: auto;
    display: flex;
    flex-direction: column;
    width: calc(50% - 6px);
}

main form div.form-group:last-child {
    width: 100%;
    margin-top: -1px;
}

div.form-group label {
    font-weight: 400;
    font-size: 12px;
    color: rgba(255, 255, 255, 0.5);
    margin-left: 7px;
    margin-bottom: 2px;
}

main form div.row {
    flex-wrap: wrap;
    gap: 12px;
}

::-webkit-calendar-picker-indicator {
    filter: invert(1);
    opacity: 0.5;
}

form div.form-group input,
div.form-group select {
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 7px;
    background-color: transparent;
    color: white;
    font-size: 16px;
    padding: 9px 10px;
}

main form div.form-group select option {
    color: #121212;
}

form button {
    width: 100%;
    padding: 12px 15px;
    background-color: white;
    color: #121212;
    border-radius: 7px;
    font-size: 16px;
    font-weight: 600;
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    align-items: center;
    cursor: pointer;
}

main form button img {
    height: 17px;
    width: auto;
}

table {
    border-spacing: 0;
    width: 100%;
    margin-top: 20px;
}

th,
td {
    border-collapse: separate;
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
    padding: 5px 0;
}

th {
    text-align: left;
    font-weight: 500;
    font-size: 16px;
    color: rgba(255, 255, 255, 0.5);
}

tr td:first-child,
tr th:first-child {
    border-right: 1px solid rgba(255, 255, 255, 0.5);
}

tr td:last-child,
tr th:last-child {
    padding-left: 10px;
}

table tr:last-child td {
    border-bottom: none;
}

main div.table p,
footer p {
    font-weight: 400;
    font-size: 12px;
    color: rgba(255, 255, 255, 0.5);
    margin-top: 20px;
}

footer p a {
    color: #2997ff;
}

/* modal */

div#modal-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(5px);
    z-index: 999;
    display: none;
    justify-content: center;
    align-items: center;
}

div#modal-container.active {
    display: flex;
}

div#modal-container div.modal {
    width: 80%;
    max-width: 500px;
    background-color: #121212;
    border-radius: 5px;
    position: relative;
    padding-bottom: 25px;
    display: none;
}

div#modal-container.active div.modal.active {
    display: block;
}

div#modal-container div.modal div.title {
    width: 100%;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
    align-items: center;
    padding: 10px 20px;
}

div#modal-container div.modal div.title h3 {
    text-align: left;
    font-weight: 500;
    font-size: 16px;
    color: rgba(255, 255, 255, 0.5);
}

div#modal-container div.modal div.title button,
div#modal-container div.bottom-modal div.title button {
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #121212;
}

div#modal-container div.modal div.title button span,
div#modal-container div.bottom-modal div.title button span {
    color: rgba(255, 255, 255, 0.5);
    transform: rotate(45deg);
    font-size: 18px;
    font-weight: 400;
}

div#modal-container div.modal form {
    width: 100%;
    padding: 0 20px;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

div#modal-container div.modal form div.form-group {
    width: 100%;
}

div#modal-container div.modal form button {
    margin-top: 8px;
    width: 120px;
    padding-bottom: 9px;
}

div#modal-container div.modal form button img {
    height: 17px;
    width: auto;
    margin-top: -3px;
}

div#modal-container div.bottom-modal {
    width: 100%;
    background-color: white;
    position: fixed;
    bottom: 0;
    border-radius: 10px 10px 0 0;
    overflow: hidden;
    padding: 10px 0;
    bottom: -100vh;
    transition: all 0.3s ease-out;
}


div#modal-container div.bottom-modal.active {
    bottom: 0;
}

div#modal-container div.bottom-modal div.title {
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    padding: 0 20px;
    margin-top: 5px;
}


div#modal-container div.bottom-modal div.title h3 {
    text-align: center;
    font-weight: 600;
    font-size: 16px;
    color: #121212;
    padding: 10px 0;
}

div#modal-container div.bottom-modal div.title button {
    position: absolute;
    right: 20px;
    background-color: transparent;
}

div#modal-container div.bottom-modal div.title button img {
    height: 10px;
}

div#modal-container div.bottom-modal div.links {
    width: 100%;
}

div#modal-container div.bottom-modal div.links button {
    display: flex;
    position: relative;
    align-items: center;
    width: 100%;
    background: transparent;
    padding: 10px 20px;
    font-size: 18px;
    font-weight: 600;
    color: #121212;
    margin-bottom: 5px;
}

div#modal-container div.bottom-modal div.links button img {
    margin-right: 25px;
    height: 14px;
    margin-top: -2px;
}

div#modal-container div.bottom-modal div.links button img.goto {
    position: absolute;
    right: 20px;
    margin-right: 0;
    height: 10px;
}

div#modal-container div.bottom-modal div.politics {
    width: 100%;
    border-top: 1px solid #e0e0e0;
    padding: 0 20px;
    margin-top: 15px;
}

div#modal-container div.bottom-modal div.politics h4 {
    font-size: 16px;
    font-weight: 600;
    color: #121212;
    margin-top: 20px;
    margin-bottom: 5px;
}

div#modal-container div.bottom-modal div.politics p {
    font-size: 16px;
    color: #121212;
    margin-bottom: 10px;
    line-height: 115%;
    opacity: 0.8;
}

div#modal-container div.bottom-modal div.politics p strong {
    color: #b00020;
}

div#modal-container div.bottom-modal div.politics p.disclaimer {
    font-size: 12px;
    opacity: 0.5;
    line-height: 110%;
    margin-bottom: 10px;
    margin-top: 20px;
    display: block;
}

div#modal-container div.bottom-modal div.politics a {
    width: 100%;
    padding: 10px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4rem;
    background-color: #121212;
    color: white;
    font-size: 16px;
    font-weight: 600;
    margin-top: 20px;
}

div#modal-container div.bottom-modal div.politics a:last-of-type {
    border: 1px solid rgba(18, 18, 18, 0.2);
    color: #121212;
    background-color: transparent;
    margin-top: 10px;
}