{% load static %}

<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Datarizer | Recolecta tus datos</title>

    <meta name="description"
        content="Datarizer: La herramienta de registro de eventos que optimiza tu proceso de simulación. Olvídate de tomar datos manualmente, cronometrar y llevar un formato en mano. Con Datarizer, simplemente presiona un botón para guardar registro de cada evento de manera rápida y precisa">
    <meta name="keywords"
        content="registro de eventos, herramienta de simulación, recopilación de datos, ahorro de tiempo, eficiencia en el trabajo, productividad, datarizer">
    <meta name="author" content="Daniel Castillo Giraldo">

    <!-- Favicon -->
    <link rel="shortcut icon" href="{% static 'img/favicon.ico' %}" type="image/x-icon">
    <link rel="icon" type="image/png" href="{% static 'img/favicon.png' %}">

    <!-- Customs -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

</head>

<body>

    <div class="container">
        <div class="content">
            <nav>
                <img class="logo" src="{% static 'img/logo.svg' %}" alt="Datarizer | Recolecta tus datos">

                <a href="api/auth/login">
                    <img src="{% static 'img/login.svg' %}" alt="Iniciar Sesión | Crear Cuenta">
                </a>
            </nav>
            <header>
                <div class="card" id="clock_component">
                    <p>&nbsp;</p>
                    <div class="row">
                        <h1>&nbsp;</h1>
                        <span>&nbsp;</span>
                    </div>
                </div>
                <button class="card salmon" style="--bg-color: #FF7597">
                    <div class="top">
                        <img src="{% static 'img/clock.svg' %}" alt="Nuevo registro">
                    </div>
                    <div class="bottom">
                        <h2>Evento 1</h2>
                    </div>
                </button>
                <button class="card purple" style="--bg-color: #BB86FC">
                    <div class="top">
                        <img src="{% static 'img/clock.svg' %}" alt="Nuevo registro">
                    </div>
                    <div class="bottom">
                        <h2>Evento 1</h2>
                    </div>
                </button>
                <button class="card" style="--bg-color: #CF6679">
                    <div class="top">
                        <img src="{% static 'img/clock.svg' %}" alt="Nuevo registro">
                    </div>
                    <div class="bottom">
                        <h2>Evento 1</h2>
                    </div>
                </button>
            </header>
            <main>
                <div class="table">
                    <table>
                        <tr>
                            <th>Hora Evento</th>
                            <th>Evento</th>
                        </tr>
                        <tr>
                            <td>Row 1, Column 1</td>
                            <td>Row 1, Column 2</td>
                        </tr>
                        <tr>
                            <td>Row 2, Column 1</td>
                            <td>Row 2, Column 2</td>
                        </tr>
                        <tr>
                            <td>Row 3, Column 1</td>
                            <td>Row 3, Column 2</td>
                        </tr>
                        <tr>
                            <td>Row 4, Column 1</td>
                            <td>Row 4, Column 2</td>
                        </tr>
                    </table>
                    <p>*Para ver más eventos, exporta la base de datos</p>
                    <form class="export">
                        <div class="row">
                            <div class="form-group">
                                <label for="date">Fecha Inicio</label>
                                <input type="date" name="date" id="date" value="{{dt}}">
                            </div>
                            <div class="form-group">
                                <label for="date">Ficha Fin</label>
                                <input type="date" name="date" id="date" value="{{dt}}">
                            </div>
                            <div class="form-group">
                                <label for="date">Evento</label>
                                <select name="" id="">
                                    <option value="all" selected>Todos</option>
                                    <option value="">Otros</option>
                                </select>
                            </div>
                        </div>
                        <button type="submit">Exportar Datos
                            <img src="{% static 'img/file.svg' %}" alt="Exportar datos">
                        </button>
                    </form>
                </div>
            </main>
            <footer>
                <p>© 2023 <a href="https://github.com/danielcgiraldo" target="_blank" rel="noopener noreferrer">Daniel
                        Castillo</a>. Todos los derechos reservados.</p>
            </footer>
        </div>
    </div>

    <div id="actions">
        <button id="handler-btn">
            <img src="{% static 'img/tune.svg' %}" alt="Editar Cronograma" class="edit">
            <p class="close">+</p>
        </button>
        <div class="relative">
            <div class="actions">
                <button class="action">
                    Nuevo Evento
                    <img src="{% static 'img/add.svg' %}" alt="Editar Cronograma">
                </button>
                <button class="action">
                    Editar Evento
                    <img src="{% static 'img/edit.svg' %}" alt="Editar Cronograma">
                </button>
                <button class="action">
                    Eliminar Evento
                    <img src="{% static 'img/remove.svg' %}" alt="Editar Cronograma">
                </button>

            </div>
        </div>

    </div>


    <!-- Scripts -->
    <script src="{% static 'js/script.js' %}"></script>

</body>

</html>