{% load static %}

<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Datarizer | Recolecta tus datos</title>

    <meta name="description"
        content="Datarizer: La herramienta de registro de eventos que optimiza tu proceso de simulación. Olvídate de tomar datos manualmente, cronometrar y llevar un formato en mano. Con Datarizer, simplemente presiona un botón para guardar registro de cada evento de manera rápida y precisa">
    <meta name="keywords"
        content="registro de eventos, herramienta de simulación, recopilación de datos, ahorro de tiempo, eficiencia en el trabajo, productividad, datarizer">
    <meta name="author" content="Daniel Castillo Giraldo">

    <meta property="og:title" content="Datarizer | Recolecta tus datos">
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://datarizer.vercel.app/">
    <meta property="og:image" content="{% static 'img/og.png' %}">
    <meta property="og:description"
        content="Datarizer: La herramienta de registro de eventos que optimiza tu proceso de simulación. Olvídate de tomar datos manualmente, cronometrar y llevar un formato en mano. Con Datarizer, simplemente presiona un botón para guardar registro de cada evento de manera rápida y precisa">

    <!-- Favicon -->
    <link rel="shortcut icon" href="{% static 'img/favicon.ico' %}" type="image/x-icon">
    <link rel="icon" type="image/png" href="{% static 'img/favicon.png' %}">

    <!-- Customs -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

    <!-- analytics -->
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-8GVFCPQ6VW"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'G-8GVFCPQ6VW');
    </script>

</head>

<body>

    <div id="message-container">
        <p>Mensaje copiado con éxito</p>
    </div>

    <div class="container">
        <div class="content">
            <nav>
                <img class="logo" src="{% static 'img/logo.svg' %}" alt="Datarizer | Recolecta tus datos">

                <button id="session-handler">
                    <img src="{% static 'img/login.svg' %}" alt="Guardar datos">
                </button>
            </nav>
            <header>
                <div class="card" id="clock_component">
                    <p>&nbsp;</p>
                    <div class="row">
                        <h1>&nbsp;</h1>
                        <span>&nbsp;</span>
                    </div>
                </div>
            </header>
            <main>
                <div class="table">
                    <table>
                        <tr>
                            <th>Hora Evento</th>
                            <th>Evento</th>
                        </tr>
                        {% for d in data %}
                        <tr>
                            <td>{{ d.date|date:"d/m/Y - H:i:s" }}</td>
                            <td>{{ d.event }}</td>
                        </tr>
                        {% endfor %}
                    </table>
                    <p>*Para ver más eventos, exporta la base de datos</p>
                    <form class="export" method="post">
                        <div class="row">
                            <div class="form-group">
                                <label for="date">Fecha Inicio</label>
                                <input type="date" name="date" id="date" value="{{dt}}">
                            </div>
                            <div class="form-group">
                                <label for="date">Ficha Fin</label>
                                <input type="date" name="date" id="date" value="{{dt}}">
                            </div>
                            <div class="form-group">
                                <label for="date">Evento</label>
                                <select name="" id="">
                                    <option value="all" selected>Todos</option>
                                    <option value="">Otros</option>
                                </select>
                            </div>
                        </div>
                        <button type="submit">Exportar Datos
                            <img src="{% static 'img/file.svg' %}" alt="Exportar datos">
                        </button>
                    </form>
                </div>
            </main>
            <footer>
                <p>© 2023 <a href="https://github.com/danielcgiraldo" target="_blank" rel="noopener noreferrer">Daniel
                        Castillo</a>. MIT License.</p>
            </footer>
        </div>
    </div>


    {% include 'components/actions.html' %}

    {% include 'components/modals.html' %}


    <!-- Scripts -->
    <script>
        const EVENTS = JSON.parse('{{events}}'.replace(/&#x27;/g, '"'))
    </script>
    <script src="{% static 'js/script.js' %}"></script>

</body>

</html>